extends layout

block content
  h1 kaosfield.net

  h2 profile
  img(src="https://gravatar.com/avatar/884be098693425b409d25aaec5091de8?s=150", alt="Gravatar")
  ul
    li name: ka (か)
    li email: 
      img(src="/img/mail.png")
    li GitHub: 
      a(href="https://github.com/kaosf") kaosf
    li Bitbucket: 
      a(href="https://bitbucket.org/kaosf") kaosf
    li Twitter: 
      a(href="https://twitter.com/ka_") @ka_
    li Qiita: 
      a(href="http://qiita.com/users/ka_") ka_
    li Facebook: 
      a(href="http://www.facebook.com/profile.php?id=100001727621039") Kasu Unko
    li Google+: 
      a(href="https://plus.google.com/u/0/112376057736762975129/about") Kasu Unko

  footer
    | This site is powered by 
    a(href="") Node.js
    |  and 
    a(href="") Express
    | . Source code is 
    a(href="https://github.com/kaosf/homepage-powered-by-express") here
    | .
